---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header class= "container max-w-xl mx-auto bg-white-340 h-16 flex items-center" >
		<div class=" flex space-x-6">
			<img class="h-6" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" alt="">
			<div class="w-[2px] h-6 bg-slate-800"></div>
			<img class="h-6" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RW4ESm?ver=c63e" alt="">
		</div>
		<menu>	
			<a href="#" class="hover:underline underline-offset-8 decoration-2">
				Game Pass
			</a><Icon name="mdi:account" />
		</menu>
		
	</header>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	
</style>
